@import 'tailwindcss';

@config "../tailwind.config.ts";

@source "../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  /* Brown Palette */
  --color-brown-1: #3a1d1d;
  --color-brown-2: #703b3b;
  --color-brown-3: #af5f5f;

  /* Grain Brown */
  --color-grain-1: #bba888;
  --color-grain-2: #e1d0b3;
  --color-grain-3: #eae1d3;

  /* Glass */
  --color-glass-gull-gray-1: #7f949e;
  --color-glass-gull-gray-2: #c9d7de;

  --color-correct-1: #4a6741;
  --color-correct-2: #8fad7f;
  --color-correct-3: #d4e6c3;

  --color-wrong-1: #6b3535;
  --color-wrong-2: #b87070;
  --color-wrong-3: #f0d4d4;

  /* Spacing */
  --spacing-board-gap: 1.5rem;

  /* Shadows */
  --shadow-board: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
}
